.header {
  color: red;
  text-align: center;
  font-style: sans-serif;
  text-size: 30px;
}

.img {
  text-align: center;
  
}

.headers {
  color: red;
  text-align: center;
  font-style: sans-serif;
  font-size: 30px;
}

.body {
  font-size: 20px
}

.DNB {
  color: green;
}