.header {
  color: red;
  text-align: center;
  font-style: sans-serif;
}

.img {
  text-align: center;
}

.intro1 {
  text-align: left;
  width: 50%;
}

.main {
  width: 1600px;
}

.headers {
  color: red;
  text-align: center;
  font-style: sans-serif;
  font-size: 30px;
}

.body {
  font-size: 20px;
}

.DNB {
  color: green;
}

.boxmodels1 {
  margin: 5px;
  border: 10px solid blue;
  padding: 20px;
  background-color: orange;
  width: 45%;
  float: left;
}

.boxmodels2 {
  margin: 5px;
  border: 10px solid green;
  padding: 20px;
  background-color: orange;
  width: 45%;
  float: right;
}