.header {
  color: red;
  text-align: center;
  font-style: sans-serif;
  text-size: 30px;
}

.img {
  text-align: center;
}

.intro {
  width: 50%;
  float: center;
}

.headers {
  color: red;
  text-align: center;
  font-style: sans-serif;
  font-size: 30px;
}

.body {
  font-size: 20px;
}

.DNB {
  color: green;
}

.boxmodels1 {
  margin: 12px;
  border: 2px solid blue;
  padding: 20px;
}

.boxmodels2 {
  margin: 12px;
  border: 2px solid green;
  padding: 10px;
}

